/* -------------------------------------------------------- */
/*                                                          */
/*                                                          */
/*                       [ABOUT PAGE]                       */
/*                                                          */
/*                                                          */
/* -------------------------------------------------------- */

.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img{
    width: 500px;
    height: auto;
    border-radius: 25%;
    background: rgba(0,0,0,0.5);
    padding: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-text-wrapper{
    width: 450px;
    background: rgba(0,0,0,0.5);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

.profile-content-wrapper{
    display: block;
}