/* -------------------------------------------------------- */
/*                                                          */
/*                                                          */
/*                    [ABOUT SECTION]                       */
/*                                                          */
/*                                                          */
/* -------------------------------------------------------- */

/* ------------------------- */
/*                           */
/*       About Content       */
/*                           */
/* ------------------------- */
.about-content{
    width: 100%;
    height: 1080px;
    background-color: var(--section-gray);
    display: flex;
    flex-direction: column;
}

#about-row{
    width: 100%;
    height: 50%;
}

.row-top{
    margin: auto;
}
.row-top h1, .row-top p{
    color: black;
    width: fit-content;
    margin: 50px auto;
}
.row-top p{
    width: 70%;
    text-align: center;
    line-height: 70px;
}

.row-bottom{
    display: flex;
    flex-direction: row;
}
.row-bottom .card-slot{
    width: 25%;
    height: auto;
    /* background-color: black; */
}
.content-card{
    background-color: white;
    width: 360px;
    height: 430px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content-card img{
    width: auto;
    height: 240px;
    margin: auto;
}
.content-card h1, .content-card p{
    font-size: 30px;
    width: fit-content;
    margin: auto;
}
.content-card h1{
    margin-bottom: 0;
}