/* -------------------------------------------------------- */
/*                                                          */
/*                                                          */
/*                       [HOME PAGE]                        */
/*                                                          */
/*                                                          */
/* -------------------------------------------------------- */

/* ------------------------- */
/*                           */
/*          Imports          */
/*                           */
/* ------------------------- */



/* ------------------------- */
/*                           */
/*      Landing Content      */
/*                           */
/* ------------------------- */
.landing-container{
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.landing-content{
    width: fit-content;
    height: fit-content;
    margin: 57px auto;
}

.landing-intro{
    padding: 40px;
    color: whitesmoke;
    text-align: center;
    display: flex;
}

.paintbrush{
    height: 200px;
    width: auto;
}

.landing-intro h1{
    height: fit-content;
    width: fit-content;
    font-size: 80px;
    margin: auto;
    padding-top: 55px;
}

.landing-details{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.landing-details h2{
    background-image: var(--gradient);
    background-size: 100%;
    background-clip: text;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-top: -35px;
    font-size: 40px;
    color: var(--dark-blue);
}

/* .landing-details button{
    margin: 20px auto 0 auto;
    border: none;
    font-family: inherit;
    font-size: 22px;
    font-weight: bold;
    height: 60px;
    width: 200px;
    border-radius: 5px;
    background-color: var(--dark-blue);
    color: whitesmoke;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.landing-details button:hover{
    transition: all 0.2s ease-in-out;
    background-color: var(--light-blue);
} */

/* ------------------------- */
/*                           */
/*        Intro Card         */
/*                           */
/* ------------------------- */
.intro-cards{
    display: flex;
    align-content: center;
    margin: 50px auto 50px auto;
    /* background-color: whitesmoke; */
    height: fit-content;
    width: 100%;
}

.card{
  position : relative;
	height: 450px;
	width: 900px;
	margin : 0 auto;
	background-color : #FFF;
	-webkit-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
}

.thumbnail{
	float : left;
	position : relative; 
	left : 30px;
	top : -30px;
	height : 320px;
	width : 530px;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	overflow: hidden;
}

/* Image CSS */
.card img.left{
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

/* Right Side */
.card .right{
	margin-left: 590px;
	margin-right: 20px;
}

.card h1{
	padding-top: 15px;
	font-size: 1.3rem;
	color: #4B4B4B;
}

.card .author{
	/* background-color: #9ECAFF; */
  background-color: var(--dark-blue);
	height: 30px;
	width: 135px;
	border-radius : 20px;
}

.card .author>img{
	padding-top: 5px;
	margin-left: 10px;
	float: left;
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.card h2{
  padding-top: 6px;
  margin-right: 5px;
  text-align: center;
  font-size: 0.8rem;
  color: white;
}

.card .separator{
	margin-top: 10px;
	border: 1px solid #C3C3C3;
}

.card p{
	font-size: 0.95rem;
  letter-spacing: 0.66px;
	line-height: 175%;
	color: #4B4B4B;
}

/* Date Information */
.card h5{
	position: absolute;
	left: 30px;
	bottom: -120px;
	font-size: 6rem;
	color: #C3C3C3;
}

.card h6{
	position: absolute;
	left: 30px;
	bottom: -55px;
	font-size: 2rem;
	color: #C3C3C3;
}

/* Action Buttons */
.card ul{
  margin: -37px auto 0 210px
}

.card li{
	display: inline;
	list-style: none;
	padding-right: 40px;
	color: #7B7B7B;
}

/* Arrow Button */
.fab{
	position: absolute;
	right: 50px;
	bottom: -40px;
	box-sizing: border-box;
	padding-top: 18px;
	background-color: #1875D0;
	width: 80px;
	height: 80px;
	color: white;
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
}

/* ------------------------- */
/*                           */
/*       About Content       */
/*                           */
/* ------------------------- */
.profile-information{
  background-color: whitesmoke;
  display: flex;
  height: fit-content;
  width: 100%;
  margin: 150px auto 0 auto;
}

.profile-content-row{
  
}

/* ------------------------- */
/*                           */
/*         Carousel          */
/*                           */
/* ------------------------- */
.carousel{
  position: relative;
  height: fit-content;
  width: 100%;
  margin: 0 auto 85px auto;
  background-color: Var(--dark-blue);
}

.carousel__images{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container{
  /* background: lightblue; */
  height: 500px;
  width: 700px;
  margin: auto;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
}

.carousel__track{
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left{
  left: 40px;
}

.carousel__button--right{
  right: 40px;
}

.carousel__button img{
  width: 10px;
}

.carousel__nav{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator{
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  cursor: pointer;
}

.carousel__indicator.current-slide{
  background: rgba(0, 0, 0, 0.75);
}

.is-hidden{
  display: none;
}



