/* -------------------------------------------------------- */
/*                                                          */
/*                                                          */
/*                    [GLOBAL STYLES]                       */
/*                                                          */
/*                                                          */
/* -------------------------------------------------------- */

/* ------------------------- */
/*                           */
/*          Imports          */
/*                           */
/* ------------------------- */

@import url(https://fonts.googleapis.com/css2?family=Sora&display=swap);

/* ------------------------- */
/*                           */
/*       Root Variables      */
/*                           */
/* ------------------------- */

:root{
    --gradient: linear-gradient(
        45deg,
        var(--dark-blue),
        var(--dark-purple)
    )
}

/* ------------------------- */
/*                           */
/*        Navigation         */
/*                           */
/* ------------------------- */
.nav-wrapper{
    background-image: var(--gradient);
    height: 57px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
}

.left-side,
.right-side{
    display: flex;
}

.right-side{
    align-items: center;
}

.nav-wrapper .left-side .nav-link-wrapper{
    font-size: 0.9em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 56px;
    width: 120px;
}

.nav-link-wrapper{
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
    font-family: 'Sora', sans-serif;
}

.nav-link-wrapper a{
    color: whitesmoke;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.5s;
    width: 100%;
    text-align: center;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid rgb(240, 236, 236);
    background-color: var(--dark-blue);
}

.nav-link-wrapper a:hover{
    color: rgb(240, 236, 236);
}

.brand{
    filter: invert(100%);
    transition: filter 0.5s;
    padding: 0 0 0 30px; 
}

.brand:hover{
    filter: invert(50%);
}

.brand a img{
    width: 47.5px;
    height: 40px;
}

/* ------------------------- */
/*                           */
/*        Page Layout        */
/*                           */
/* ------------------------- */
body{
    margin: 0px;
    padding: 0px;
    background: url("../Images/Background_Wallpaper.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Sora', sans-serif;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    display: none;
}

/* ------------------------- */
/*                           */
/*          Footer           */
/*                           */
/* ------------------------- */

.footer-root{
    width: 100%;
    height: 250px;
    background: var(--dark-purple);
    margin-top: 50px;
}
